.status
  display: flex
  align-items: center
  gap: 6px
  font-weight: 500

.completed
  color: #2e7d32 // verde bonito

.pending
  color: #c62828 // rojo alerta

.button
  padding: 10px 15px 10px 15px
  border: none
  font-size: 12px
  color: #4b4f57
  background: #e1e2e6
  font-weight: 100
  margin: 0.5rem
