/* You can add global styles to this file, and also import other style files */
.snackbar-error
    white-space: pre-line;
    .mdc-snackbar__surface
        background: #ffebee;
        color: #b71c1c;


.snackbar-success
    .mdc-snackbar__surface
        background: #e8f5e9;
        color: #1b5e20;